/** Basic site structure */
html,body {
	margin: 0;
	padding: 0;
	background-image: url('page_tile.jpg');
	background-repeat: repeat
}

body {
	font: 76% arial, sans-serif;
}

p {
	margin: 0 10px 10px
}

a {
	display: block;
	color: #006;
	padding: 10px
}


.selection-panel {
	background-image: url('bg_tint2.jpg');
	margin: 1px;
	padding: 3px;	
}


.selection-panel:hover {
	background-image: url('bg_tint3.jpg');
	margin: 1px;
	padding: 3px;	
}


.gwt-cellTable-selectedRow {
  	background-image: url('bg_tint4.jpg');
  	color: red;
}



.form {
	margin: 2em;
}

.form th {
	font-weight: bold;
	text-align: right;
	padding: 0.2em;
}

.form td {
	font-weight: bold;
	padding: 0.2em;
}

.gwt-DialogBox .dialogContent {
	font: 76% arial, sans-serif;
	margin: 0;
	padding: 0;
	background-image: url('page_tile.jpg');
	background-repeat: repeat
}

.panel-bg {
	padding: 0.2em;
	margin: 1px;
	background-image: url('page_tint_dark.jpg');
}
