@sprite .background {
	gwt-image: 'backgroundImage';
}

@sprite .tint1 {
	gwt-image: 'tint1Image';
}

@sprite .tint2 {
	gwt-image: 'tint2Image';
}

@sprite .tint3 {
	gwt-image: 'tint3Image';
}

@sprite .tint4 {
	gwt-image: 'tint4Image';
}

.panel {
	padding: 10px;
	
	/*border-style: solid;
	border-width: 1px;
	border-color: #544842;*/
}

