.button {	
	margin: 2px;
	cursor: pointer;	
}

 .text {
	padding: 2px;
	background: #77655f;
	color: #bbb;
	text-align: center;
		
	font-size: 0.9em;
	font-weight: bold;
}

.text:hover {
	color: #ddd;
}

.text:active {
	color: #fff;
}