@sprite .header {
	gwt-image: 'headerImage'; 
	color: #DBC1AE;
	background-repeat: no-repeat;
	width: 100%;
}

.title {
	font-size: 200%;
	position: relative;
	left: 50px;
	top: 20px;	
}

.subTitle {
	position: relative;
	left: 50px;
	top: 20px;
	font-style: italic;	
}


	
@sprite .footer
{
	gwt-image: 'footerImage';
	position: relative;	
	background-repeat: no-repeat;
	color: #DBC1AE;
}

.content
{
}